frontend/node_modules
backend/PIC/213.jpg
backend/PIC/123.jpg
backend/PIC/new event 100.jpg
/frontend/node_modules
backend/PIC/*
/backend/PIC/*
/backend/PIC
/backend/PIC
*.pack
frontend/node_modules/.cache/.eslintcache
/frontend/node_modules
*.db
*.xml
/.idea
/backend/__pycache__